<mat-toolbar color="primary" class="header">
  <!-- LOGO -->
  <img src="assets/img/logo.png" alt="logo" class="header__logo" />

  <!-- SEND TO -->
  <button mat-button>
    <mat-icon>share_location</mat-icon>
    Send to Spain
  </button>

  <!-- SEARCH FIELD -->
  <form class="example-form">
    <!-- DEPARTMENT -->
    <mat-form-field>
      <mat-label>Favorite food</mat-label>
      <mat-select>
        <mat-option value="1">Test</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- SEARCH -->
    <mat-form-field class="example-full-width">
      <mat-label>Search</mat-label>
      <input type="text" matInput placeholder="Search" />
    </mat-form-field>

    <!-- SEARCH -->
    <button mat-flat-button>
      <mat-icon matSuffix>search</mat-icon>
    </button>
  </form>
  <!-- LANGUAGE -->
  <!-- LANGUAGE -->
  <mat-form-field>
    <mat-label>Favorite food</mat-label>
    <mat-select>
      <mat-option value="1">ESP</mat-option>
    </mat-select>
  </mat-form-field>
  <!-- SIGN-IN -->
  <!-- BASKET -->
</mat-toolbar>
