<mat-toolbar
  color="primary"
  class="header max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
  <!-- LOGO -->
  <img src="assets/img/logo.png" alt="logo" class="header__logo" />

  <!-- SEND TO -->
  <button mat-button class="md:visible">
    <mat-icon>share_location</mat-icon>
    Send to Spain
  </button>

  <!-- SEARCH FIELD -->
  <form class="example-form">
    <!-- DEPARTMENT -->
    <mat-form-field>
      <mat-select value="1">
        <mat-option value="1">All departments</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- SEARCH -->
    <mat-form-field>
      <input type="text" matInput placeholder="Search" />
    </mat-form-field>

    <!-- SEARCH -->
    <button mat-flat-button color="accent">
      <mat-icon>search</mat-icon>
    </button>
  </form>

  <!-- LANGUAGE -->
  <mat-form-field>
    <mat-select value="1">
      <mat-option value="1">ESP</mat-option>
    </mat-select>
  </mat-form-field>
  <!-- SIGN-IN -->
  <button mat-button>Hi, sign-in</button>
  <!-- BASKET -->
  <button mat-button>
    <mat-icon>shopping_basket</mat-icon>
    Basket
  </button>
</mat-toolbar>
