@use '@angular/material' as mat;
@include mat.core();
@import 'colors';
@import 'fonts';

// PRIMARY
$primary-palette: (
  50: #f2f9ff,
  100: #eaf2fd,
  200: #e0e8f3,
  300: #d0d7e3,
  400: #acb3be,
  500: #8c939e,
  600: #646b75,
  700: #515761,
  800: #333942,
  900: $primary,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
  ),
);
$primary-palette: mat.define-palette($primary-palette, 900);

// accent
$accent-palette: (
  50: #fff3e0,
  100: #ffe0b2,
  200: #ffcd80,
  300: #ffb84d,
  400: #ffa826,
  500: $accent,
  600: #fb8d00,
  700: #f57d00,
  800: #ef6d00,
  900: #e65200,
  contrast: (
    50: $dark-accent-text,
    100: $dark-accent-text,
    200: $dark-accent-text,
    300: $dark-accent-text,
    400: $dark-accent-text,
    500: $light-accent-text,
    600: $light-accent-text,
    700: $light-accent-text,
    800: $light-accent-text,
    900: $light-accent-text,
  ),
);
$accent-palette: mat.define-palette($accent-palette, 500);

// TYPOGRAPHY
$general-typography: mat.define-typography-config($base-font-family);

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $primary-palette,
      accent: $accent-palette,
    ),
    typography: $general-typography,
    density: -1,
  )
);

// GET ALL
@include mat.all-component-themes($light-theme);
// GET EACH ONE
// @include mat.core-theme($light-theme);
// @include mat.toolbar-theme($light-theme);
// @include mat.icon-button-theme($light-theme);
// @include mat.icon-theme($light-theme);
// @include mat.button-theme($light-theme);
// @include mat.button-toggle-theme($light-theme);
// @include mat.fab-theme($light-theme);
// @include mat.divider-theme($light-theme);
